@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2E31FF;
  --secondary-color: #1A085C;
  --white-color: #ffffff;
  --grey-color: #F4F2F8;
  --green-color: #CBEA13;
  --primary-gradient: -webkit-linear-gradient(0deg, #00FFC9 -10%, #25D6D9, #6095F4, #787CFF 110%);
  --primary-font: 'neuzeit-grotesk', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --title-size: 1.9rem;
  --subtitle-size: 1.5rem;
  --paragraph-size: 1.1rem;
  --margin-bottom: 1rem;
  --margin-top: 0.5rem;
  --title-weight: 700;
  --subtitle-weight: 600;
  --paragraph-weight: 400;
  --border-radius: 24px;

  scroll-behavior: smooth;
}

span.bold {
  font-weight: var(--title-weight);
}

.col-md-6, .col-md-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--primary-font);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  color: var(--primary-color);
  text-transform: uppercase;
}

.subtitle {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
  margin-bottom: var(--margin-bottom);
}

.paragraph {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weight);
  margin-bottom: var(--margin-bottom);
}

a.link {
  width: 200px;
  height: 50px;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  color: #ffffff;
  background-color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  font-weight: var(--subtitle-weight);
}

a.link:hover{
  background-color:var(--green-color);
}
.header .col-md-12 {
  flex-direction: row;
}

.header .menu-container {
  margin-top: 2em;
  padding-right: 2em;
}

.header .menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.header .menu-container a.menu-link {
  background-color: transparent;
  padding: 0;
  height: fit-content;
  width: fit-content;
  font-size: var(--subtitle-size);
  margin-left: 3em;
}
.header .menu-container a.menu-link:hover {
  color: var(--green-color);
}


.header {
  min-height: 500px;
  background-color: var(--secondary-color);
}
.header .header-text {
  padding-left: 12em;
}
.header .header-img-container {
  padding-right: 12em;
}
.header .header-img-container {
  align-items: flex-end;
}
.header .header-img-container .header-img {
  height: 75%;
  width: auto;
}
.header .subtitle {
  color: var(--green-color);
}
.header .paragraph {
  color: var(--white-color);
  margin-bottom: calc(var(--margin-bottom)*3);
}
.separator {
  background-image: url("/src/assets/img/header_separator.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.separator .for-who {
  padding: 10em 0em 0 4em;
  min-height: 600px;
}

.separator .product-image {
  padding: 10em 2em 0 0em;
}

.separator .product-image img{
  max-width: 75%;
  margin-left: 2em;
}
.for-who {
  padding-top: 15em;
}

.for-who .subtitle,
.for-who .paragraph {
  color: var(--secondary-color);
}

.for-who .paragraph {
  margin-bottom: 4rem;
}

.product-container {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.product-row {
  margin-top: calc(var(--margin-top)*14);
  min-height: 600px;
}

.product-row .our-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.product-row .our-product .presentation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.product-row .product-image {
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-row .product-image img {
  height: 100%;
}
.product-row .our-product {
  background-image: url('/src/assets/img/vague_loop.svg');
  background-position: top -20px right;
  background-repeat: no-repeat;
  background-size: 80%;
}

.product-specs {
  margin-top: calc(var(--margin-top)*14);
  align-items: center;
  background: var(--secondary-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
}

.product-specs .title {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--margin-bottom);
}

.product-specs .specs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.product-specs .specs-row .single-row {
  display: flex;
  flex-direction: row;
  max-width: calc(100%/3);
}

.product-specs .specs-row .single-row .spec-row {
  display: flex;
  flex-direction: column;
}

.product-specs .specs-row .single-row .spec-row .subtitle,
.product-specs .specs-row .single-row .spec-row .paragraph {
  color: var(--white-color);
  margin-bottom: 0;
  padding: 0 0.5em;
}

.product-specs .specs-row .single-row .spec-row .subtitle {
  font-size: 1.2rem;
}

.product-specs .specs-row .single-row .spec-row .paragraph {
  font-size: 1rem;
}

.spec-icon img {
  width: 32px;
}

.vimeo-integration {
  margin-top:calc(var(--margin-top)*14);
  margin-bottom:calc(var(--margin-top)*7);
  padding: 0;
}

.vimeo-integration iframe,
.vimeo-integration object,
.vimeo-integration document,
.vimeo-integration embed {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}

.personalization-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom:calc(var(--margin-top)*7);
}

.personalization-title .title {
  position: relative;
  left: -21px;
}

.personalized-image img {
  height: 400px;
  width: auto;
}

.perzonalization-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.perzonalization-menu .subtitle {
  margin-top: calc(var(--margin-top)*4);
  height: 80px;
}
.button-product {
  width: calc(100%/4);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width:80px;
  height: 80px;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  filter: blur(2px);
}


.customers-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: calc(var(--margin-bottom)*4);

}

.customers-feedback .title-row {
  margin-top: calc(var(--margin-top)*4);
  width: 100%;
  min-height: 120px;
  background-image: url('/src/assets/img/vague_3.svg');
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--margin-bottom)*4);
}

.customers-feedback .title {
  width: fit-content;
  height: 50px;
  background-color: #fff;
  border-radius: 24px;
}


.feedback-card {
  border-radius: 24px;
  padding: 2em;

}
  
.green{
  background-color:rgba(0, 255, 201, 0.07);
}

.blue {
  background-color: rgba(37, 214, 217, 0.1);
}
.violet {
  background-color: rgba(47, 50, 255, 0.08);
}
  
.feedback-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--margin-bottom);
}

.feedback-header .icon {
  height: 49px;
  width: 45px;
  margin-right: var(--margin-bottom);
}

.feedback-header .subtitle {
  margin-bottom: 0;
}

.footer {
  background-color: var(--secondary-color);
  border-radius: 24px;
}

.footer .main-footer {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  justify-content: center;
  align-items: center;
}

.footer .title {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--margin-bottom);
}

.footer .main-footer .paragraph {
  text-align: center;
  color: var(--white-color);
  margin-bottom: var(--margin-bottom);
}
.footer-mentions {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
}
.footer .footer-mentions .paragraph {
  color: var(--white-color);
  margin-bottom: 0;
  line-height: 1.2em;
}

.footer-mentions div {
  width: calc(100%/3);
}

.footer-mentions .school-mentions img {
  margin-bottom: var(--margin-bottom);
}

.footer-mentions .legal-mentions, .footer-mentions .names {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-mentions .names {
  justify-content:flex-end;
}
@media (max-width: 760px) {
  .header .header-text {
    padding-left: 1em;
    padding-top: 3em;
  }
  .header .header-img-container {
    padding-right: 1em;
    align-items: center;
  }
  .separator .for-who {
    padding: 22em 1em 0;
  }
  .for-who .paragraph {
    margin-bottom: 0;
  }
  .separator .product-image {
    padding: 0;
  }
  .product-row .col-md-6 {
    margin-bottom: calc(var(--margin-bottom));
  }
  .product-row .our-product {
    background-image: none;
  }
  .product-specs {
    padding: 1em 3.5em;
    margin-top: calc(var(--margin-top)*4);
  }

  .product-specs .specs-row {
    flex-direction: column;
  }
  .product-specs .specs-row .single-row {
    max-width: 100%;
    margin-bottom: var(--margin-bottom);
  }

  .vimeo-integration {
    margin-top: 0;
    margin-bottom: 0;
    height: 300px;
  }

  .personalization-title .circle {
    padding-bottom: var(--margin-bottom);
  }
  .perzonalization-menu .subtitle {
    margin-bottom: calc(var(--margin-bottom)*4);
  }

  .feedback-card {
    margin-bottom: var(--margin-bottom);
  }
  .customers-feedback .title-row {
    background-size: contain;
  }

  .customers-feedback .title {
    line-height: 1.1em;
    background-color: transparent;
  }

  .footer-mentions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0;
  }
  .footer-mentions div {
    width: 100%;
  }
  .footer .footer-mentions .paragraph {
    text-align: center;
    justify-content: center;
    margin-bottom: var(--margin-bottom);

  }
  .footer-mentions {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-mentions .legal-mentions, .footer-mentions .names {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}