@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2E31FF;
  --secondary-color: #1A085C;
  --white-color: #ffffff;
  --grey-color: #F4F2F8;
  --green-color: #CBEA13;
  --primary-gradient: -webkit-linear-gradient(0deg, #00FFC9 -10%, #25D6D9, #6095F4, #787CFF 110%);
  --primary-font: 'neuzeit-grotesk', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --title-size: 1.9rem;
  --subtitle-size: 1.5rem;
  --paragraph-size: 1.1rem;
  --margin-bottom: 1rem;
  --margin-top: 0.5rem;
  --title-weight: 700;
  --subtitle-weight: 600;
  --paragraph-weight: 400;
  --border-radius: 24px;
}

span.bold {
  font-weight: var(--title-weight);
}

.col-md-6, .col-md-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--primary-font);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  color: var(--primary-color);
  text-transform: uppercase;
}

.subtitle {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
  margin-bottom: var(--margin-bottom);
}

.paragraph {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weight);
  margin-bottom: var(--margin-bottom);
}

a.link {
  width: 200px;
  height: 50px;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  color: #ffffff;
  background-color: var(--primary-color);
  text-decoration: none;
  text-align: center;
  font-weight: var(--subtitle-weight);
}

a.link:hover{
  background-color:var(--green-color);
}

.header {
  min-height: 500px;
  background-color: var(--secondary-color);
}
.header .header-text {
  padding-left: 2em;
}
.header .header-img-container {
  padding-right: 2em;
}
.header .header-img-container {
  align-items: flex-end;
}
.header .header-img-container .header-img {
  height: 75%;
  width: auto;
}
.header .subtitle {
  color: var(--green-color);
}
.header .paragraph {
  color: var(--white-color);
  margin-bottom: calc(var(--margin-bottom)*3);
}
.separator {
  background-image: url("/src/assets/img/header_separator.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.separator .for-who {
  padding: 10em 0em 0 4em;
  min-height: 600px;
}

.separator .product-image {
  padding: 10em 4em 0 0em;
}

.for-who {
  padding-top: 15em;
}

.for-who .subtitle,
.for-who .paragraph {
  color: var(--secondary-color);
}

.for-who .paragraph {
  margin-bottom: 4rem;
}

.product-container {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.product-row {
  margin-top: calc(var(--margin-top)*14);
  min-height: 600px;
}

.product-row .our-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.product-row .our-product .presentation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.product-row .product-image {
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-row .product-image img {
  height: 100%;
}
.product-row .our-product {
  background-image: url('/src/assets/img/vague_loop.svg');
  background-position: top -20px right;
  background-repeat: no-repeat;
  background-size: 80%;
}

.product-specs {
  margin-top: calc(var(--margin-top)*14);
  align-items: center;
  background: var(--secondary-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
}

.product-specs .title {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--margin-bottom);
}

.product-specs .specs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.product-specs .specs-row .single-row {
  display: flex;
  flex-direction: row;
  max-width: calc(100%/3);
}

.product-specs .specs-row .single-row .spec-row {
  display: flex;
  flex-direction: column;
}

.product-specs .specs-row .single-row .spec-row .subtitle,
.product-specs .specs-row .single-row .spec-row .paragraph {
  color: var(--white-color);
  margin-bottom: 0;
  padding: 0 0.5em;
}

.product-specs .specs-row .single-row .spec-row .subtitle {
  font-size: 1.2rem;
}

.product-specs .specs-row .single-row .spec-row .paragraph {
  font-size: 1rem;
}

.spec-icon img {
  width: 32px;
}

.vimeo-integration {
  margin-top:calc(var(--margin-top)*14);
  margin-bottom:calc(var(--margin-top)*14);
  padding: 0;
}

.vimeo-integration iframe,
.vimeo-integration object,
.vimeo-integration document,
.vimeo-integration embed {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}

.personalization-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.personalization-title .title {
  position: relative;
  left: -21px;
}

.personalization-menu {
  background-image: url('/src/assets/img/vague_perso.svg');
}